/* Reset  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    position: absolute;
    z-index: 10;
}

.clear-fix::after{
    content: " ";
    display: table;
    clear: both;
}

.logo{
    width: calc(10% - 20px);
    vertical-align: middle;
}

li{
    display: inline-block;
}


.main-nav{
    width: 45%;
}

.main-nav, .logo{
    float: left;
}

.btn{
    background-color: #0061ff;
    color: white;
    padding: 8px 17px;
    width: max-content;
}

.btn.white a{
    color: white;
}

h1{
    font-size: 77px;
}

/* Header */
.container-menu{
    position: fixed;
    width: 100%;  
    background-color: white;
    padding: 25px 20px;
}

#left #right{
    float: left;
}

#right{
    text-align: right;
}

a{
    color: black;
    text-decoration: none;
}

#left ul li a{
    padding-left: 45px;
}


#right li a{
    margin-left: 45px ;
}

.container-hero{
    background-color: #b4d0e7;
    margin: auto
}

.hero{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 200px;
    position: relative;
    bottom: -60px;

}


i{
    margin-top: 40px;
    font-size: 30px;
}

.text{
    float: left;
}

.text{
    width: 40%;
}

.img-jumbo img{
    width: 55%;
    float: left;
}

.hero > h1{
    margin-bottom: 40px;
}

.hero p:first-of-type{
    margin-bottom: 35px;       
}

.hero p:last-of-type{
    margin-top: 25px;       
}

.container-plans{
    width: 65%;
    margin: auto;
}

.container-plans > h2{
    margin-bottom: 70px;
    font-size: 30px;
}

.plans{
    margin-top: 40px
}

.col{
    width: calc(33.33% - 40px) ;
    height: 1400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
}

#center{
    margin: 0 60px;
}

#left, #center, #right{
    text-align: center;
}

.plans .col i{
    font-size: 20px;
    margin: 0;
    padding: 15px 0;
}

.int{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.content{
    padding: 35px 30px 0 30px;
    text-align:initial;
}

.btn.white{
    margin-top: 50px;
    padding: 15px 40px;
    margin-bottom: 35px;
}

.line{
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 45px;
}

.decoration{
    margin-bottom: 30px
}

.content .decoration a{
    text-decoration: underline;
    color: blue;
}

.content h2{
    margin-bottom: 30px;
}

.content h3{
    margin-bottom: 20px;
}

.content p{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}
.point{
    margin-top: 35px;
}

.point ul li{
    margin-bottom: 30px;
}

.point ul li i{
    color: blue;
}